.container h2 {
   margin-right: 23%;
   margin-left: 23%;
   padding: 1% 0% 1% 0%;
   border-radius: 10px 10px 10px 10px;
   box-shadow: 0px 10px 15px 3px rgba(0,0,0,0.75);
   color: rgb(157, 18, 185);
   text-align: center;
   background-color: rgba(185, 107, 137, 0.315);
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-size: 24px;
}